@page "/measurements"
@rendermode InteractiveServer
@inherits MeasurementsBase 

@using ChartJs.Blazor.LineChart
@using ConverterService
@using MeasurementsBase_1 = MeasurementsBase

<div class="container">
    <h3>Messwerte</h3>
    
    <div class="d-grid">
        <select @onchange = "HandleStationSelection">
            <option value="0">Bitte Station-ID wählen</option>

            @foreach (var id in _stationIds) // Iterieren Sie über die Quell-Liste
            {
                <option value="@id">Station ID: @id</option>
            }
        </select>
        
        <select @onchange="HandleSensorSelection" disabled="@IsSensorsComboboxDisabled">
            <option value="0">Bitte Sensor-ID wählen</option> 
        
            @foreach (var id in _sensorIds) // Iterieren Sie über die Quell-Liste
            {
                <option value="@id">Sensor ID: @id</option>
            }
        </select>
        
        <select @onchange="HandleTimeSpanSelection" disabled="@IsTimeSpansComboboxDisabled">
            <option value="0">Bitte Zeitraum wählen</option> 
        
            @foreach (var timeSpan in _timeSpans) // Iterieren Sie über die Quell-Liste
            {
                <option value="@timeSpan">TimeSpan: @timeSpan</option>
            }
        </select>
        
    </div>
    
    @* --- Nur das Diagramm-Rendering --- *@
    @if (_config != null && _config.Data.Datasets.Any())
    {
        <Chart Config="_config" Width="800" Height="400"></Chart>
    }
    else if (_isPlotReady)
    {
        <div class="alert alert-info">Bitte eine Station und einen Sensor auswählen!</div>
    }
    else
    {
        <div class="alert alert-info">Daten werden geladen oder sind nicht vorhanden...</div>
    }
</div>